* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', Verdana, sans-serif;
    color: white;
    text-shadow: 3px 3px black;
}
html, body {
  overflow:hidden
}
body {
    background-color: #ABB7B7;
    overflow: hidden;
    overflow-x: hidden;
    font-size: 62.5%;
}
#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.title {
    font-size: 2.3rem;
    text-shadow: 6px 6px black;
    text-align: center;
}
.hidden {
    display: none;
}
.visable {
    display: flex;
}
.info {
    display: none;
    position: absolute;
    top: 97%;
    font-size: 0.6rem;
    margin-left: 2%;
    text-shadow: 1px 1px black;
}
.instructions {
    font-size: 1rem;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.instructions p {
    font-size: 0.8rem;
    line-height: 1.8rem;
}
#startBtn {
    font-size: 0.8rem;
    margin-top: 20px;
    width: 60%;
    height: 80px;
    border-radius: 10px;
    background-color: #E26A6A;
    border: none;
}
#startBtn:hover {
    background-color: #D24D57;
}
.carImgContainer {
    margin-top: 20px;
    height: 150px;
}
.carImg {
    height: 100%;
    max-width: 100%;
    background-image: url("../img/Audi.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
#gameBody {
    display: flex;
    visibility: hidden;
}
#playerScore {
    z-index: 8;
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 1.2rem;
}
.roadContainer {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-left: 6px solid #F5D76E;
    border-right: 6px solid #F5D76E;
}
#road {
    min-width: 100%;
    min-height: 100vh;
    z-index: -1;
    background-image: url("../img/road.jpg");
    background-repeat: repeat;
    background-size: 14.3%;
    -webkit-animation: backgroundScroll 9s linear infinite;
    animation: backgroundScroll 9s linear infinite;
    @-webkit-keyframes backgroundScroll {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 0 1200vh;
        }
    }
    @keyframes backgroundScroll {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 0 1200vh;
        }
    }
}
#turnLeft {
    height: 99vh;
    width: 14vw;
    height: 99vh;
    width: 14vw;
    z-index: 4;
}
.leftArrow {
    font-size: 2.4rem;
    line-height: 3rem;
    z-index: 3;
    margin-top: 77vh;
    width: 100%;
    text-align: center;
}
#turnRight {
    height: 99%;
    width: 14vw;
    z-index: 4;
}
.rightArrow {
    font-size: 2.4rem;
    z-index: 3;
    line-height: 3rem;
    margin-top: 77vh;
    width: 100%;
    text-align: center;
}
#playerCar {
    background-image: url("../img/Audi.png");
    background-position: center;
    background-size: 160%;
    margin: 0;
    background-repeat: no-repeat;
    width: 7vw;
    height: 9.7vw;
    position: absolute;
    top: 75vh;
    left: 51.6vw;
    z-index: 2;
    transition: left 0.4s linear;
}
.generatedCar {
    background-position: center;
    background-size: 160%;
    margin: 0;
    background-repeat: no-repeat;
    width: 7vw;
    height: 9.7vw;
    position: absolute;
    z-index: 2;
}
.animateCar {
    animation: carAnimation linear;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}
.quickFix {
    top: -180px;
}
#gameOverSection {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.gameOver {
    display: none;
    text-align: center;
}
.gameOver h2 {
    text-transform: uppercase;
    display: inline-block;
    font-size: 4.7rem;
    z-index: 5;
}
@-webkit-keyframes carAnimation {
    0% {
        top: -180px;
    }
    100% {
        top: 120vh;
    }
}
@-moz-keyframes carAnimation {
    0% {
        top: -180px;
    }
    100% {
        top: 120vh;
    }
}
@-o-keyframes carAnimation {
    0% {
        top: -180px;
    }
    100% {
        top: 120vh;
    }
}
@keyframes carAnimation {
    0% {
        top: -180px;
    }
    100% {
        top: 120vh;
    }
}
.Forward {
    transform: rotate(0deg);
}
.turnLeft {
    transform: rotate(-8deg);
    transition: transform 0.4s ease;
}
.turnRight {
    transform: rotate(8deg);
    transition: transform 0.4s ease;
}
.yourScore {
    display: none;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-shadow: 1px 1px black;
    // font-size: 1.8rem;
    text-transform: uppercase;
    width: 70vw;
    max-width: 1020px;

    height: 100vh;
    // position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    h2 {
        font-size: 3.5rem;
        margin-bottom: 30px;
    }
    h3 {
        margin-bottom: 20px;
        line-height: 2rem;
        font-size: 1.4rem;
    }
    form {
        margin-top: 10px;
        input {
            width: 100%;
            font-size: 1rem;
        }
    }
    #addScoreBtn {
        width: 100%;
        height: 80px;
        background-color: white;
        text-shadow: none;
        box-shadow: 1px 1px black;
        color: black;
        border-color: transparent;
        margin-top: 30px;
    }
    #nameInput {
        border-color: transparent;
        text-shadow: none;
        width: 98%;
        height: 40px;
        margin-top: 15px;
        color: black;
    }
}
.scoreGameOver {
    font-size: 2rem;
    align-self: center;
    margin-bottom: 9%;
}
.scoreToAdd {
    display: inline;
}
#topTenSection {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    ul {
        list-style: none;
    }
    li {
        margin-top: 3px;
    }
    h2 {
        font-size: 2.3rem;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    h3 {
        font-size: 0.9rem;
        line-height: 1.5rem;
        text-shadow: 3px 3px black;
        text-transform: uppercase;
    }
}
#playAgainBtn {
    margin-top: 50px;
    font-size: 0.8rem;
    width: 80%;
    height: 90px;
    border-radius: 10px;
    background-color: #E26A6A;
    border: none;
}
@media only screen and (orientation:portrait) and (min-width: 360px) {
    .leftArrow,
    .rightArrow {
        font-size: 3rem;
    }
    .title {
        margin-bottom: 60px;
    }
    .instructions {
        margin-top: 50px;
    }
    #startBtn {
        margin-top: 50px;
    }
    .yourScore {
        h2 {
            font-size: 4rem;
            margin-bottom: 50px;
        }
    }
    .info {
        display: none;
    }
}
@media only screen and (orientation:portrait) and (min-width: 560px) {
    #startBtn {
        width: 40%;
        height: 90px;
    }
    .leftArrow,
    .rightArrow {
        font-size: 5rem;
    }
    #menu {
        h1 {
            font-size: 2rem;
            line-height: 2.4rem;
        }
    }
    #playerScore {
        font-size: 2rem;
    }
    .carImg {
        height: 120px;
        margin-bottom: 20px;
    }
    .instructions {
        p {
            font-size: 1.2rem;
            line-height: 2.2rem;
        }
    }
    #startBtn {
        font-size: 1.2rem;
    }
    .yourScore {
        font-size: 3rem;
        margin-bottom: 70px;
    }
    #nameInput {
        height: 60px;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    #addScoreBtn {
        font-size: 1.2rem;
    }
    .info {
        display: block;
    }
}
@media only screen and (orientation:portrait) and (min-width: 1000px) {
    .yourScore {
        h2 {
            font-size: 8rem;
            margin-bottom: 90px;
        }
        h3 {
            line-height: 4rem;
            font-size: 2.4rem;
        }
        #nameInput {
            height: 60px;
            width: 100%;
        }
    }
    .gameOver {
        h2 {
            font-size: 8rem;
        }
    }
    #topTenSection {
        h2 {
            font-size: 4.3rem;
        }
        h3 {
            font-size: 1.6rem;
            line-height: 2.8rem;
        }
        #playAgainBtn {
            width: 60%;
            font-size: 1.6rem;
        }
    }
}
@media only screen and (orientation:landscape) {
    * {
        text-shadow: 2px 2px black;
    }
    .title {
        font-size: 1rem;
        text-shadow: 4px 4px black;
    }
    .carImgContainer {
        height: 90px;
    }
    .instructions {
        margin-top: 5px;
        p {
            font-size: 0.7rem;
            line-height: 1.1rem;
        }
    }
    #startBtn {
        width: 60%;
        height: 50px;
    }
    .info {
        font-size: 0.8rem;
        margin-bottom: 2px;
    }
    .leftArrow,
    .rightArrow {
        font-size: 3rem;
    }
    .scoreGameOver {
        display: none;
    }
    .yourScore {
        h2 {
            display: none;
        }
        h3 {
            font-size: 1.5rem;
        }
        #nameInput {
            width: 70%;
            height: 40px;
        }
        #addScoreBtn {
            width: 50%;
            height: 50px;
        }
    }
    #topTenSection {
        h2 {
            font-size: 1.3rem;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 0.7rem;
            line-height: 1rem;
        }
        #playAgainBtn {
            width: 60%;
            height: 50px;
            margin-top: 20px;
        }
    }
    .info {
        display: block;
    }
}
@media only screen and (orientation:landscape) and (min-width: 600px) {
    .title {
        font-size: 2.1rem;
    }
}
@media only screen and (orientation:landscape) and (min-width: 800px) {
    #menu {
        h1 {
            font-size: 3rem;
        }
        .carImgContainer {
            height: 160px;
            margin-bottom: 50px;
            margin-top: 50px;
        }
        .instructions {
            p {
                font-size: 1.1rem;
                line-height: 1.7rem;
            }
        }
    }
    #playerScore {
        font-size: 1.6rem;
    }
    #startBtn {
        width: 300px;
        height: 60px;
        font-size: 1rem;
        margin-top: 60px;
    }
    .gameOver {
        h2 {
            font-size: 7.5rem;
        }
    }
    .yourScore  {
        .scoreGameOver {
            font-size: 4.5rem;
            margin-bottom: 70px;
            display: block;
        }
    }
    #topTenSection {
        h2 {
            font-size: 2.5rem;
            margin-bottom: 70px;
        }
        h3 {
            font-size: 1.1rem;
            line-height: 1.5rem;
        }
    }
    #topTenSection {
        #playAgainBtn {
            width: 300px;
            height: 70px;
            font-size: 1.1rem;
            margin-top: 70px;
        }
    }
}
@media only screen and (orientation:landscape) and (min-width: 1030px) {
    .leftArrow,
    .rightArrow {
        display: none;
    }
}
