* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #ABB7B7;
}

.roadContainer {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-left: 6px solid #F5D76E;
    border-right: 6px solid #F5D76E;
}

#road {
    min-width: 100%;
    min-height: 100vh;
    z-index: -1;
    background-image: url(../img/Tileable%20tarmac%20road%20asphalt%20lines%20small.jpg);
    background-repeat: repeat;
    background-size: 14.3%;
    -webkit-animation: backgroundScroll 22s linear infinite;
    animation: backgroundScroll 22s linear infinite;
    @-webkit-keyframes backgroundScroll {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 0 6600px;
        }
    }
    @keyframes backgroundScroll {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 0 6600px;
        }
    }
}

#playerCar {
    background-image: url(../img/Audi.png);
    background-size: 160%;
    background-position: center;
    margin: 0;
    background-repeat: no-repeat;
    width: 7vw;
    height: 9.7vw;
    position: absolute;
    top: 75vh;
    left: 51.5vw;
    z-index: 2;
    transition: all 0.4s linear;
}
.generatedCar {
    background-image: url(../img/Police.png);
    background-size: 160%;
    background-position: center;
    margin: 0;
    background-repeat: no-repeat;
    width: 7vw;
    height: 9.7vw;
    position: absolute;
    top: -180px;
    left: 21.5vw;
    z-index: 2;
    animation: carAnimation 2s 1 linear;
}
@-webkit-keyframes carAnimation {
  0%   { top: -20vh; }
  100% { top: 120vh; }
}
@-moz-keyframes carAnimation {
  0%   { top: -20vh; }
  100% { top: 120vh; }
}
@-o-keyframes carAnimation {
  0%   { top: -20%; }
  100% { top: 120vh }
}
@keyframes carAnimation {
  0%   { top: -180px; }
  100% { top: 100vh; }
}
